<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
        <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="Default.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="GscJunkRedirects" defaultValue="">
          <add key="cold-room-london" value="/cold-room-repair-london.html" />
          <add key="cold-room-london.html" value="/cold-room-repair-london.html" />
          <add key="chiller-london" value="/commercial-fridge-repair-london.html" />
          <add key="chiller-london.html" value="/commercial-fridge-repair-london.html" />
          <add key="freezers-london" value="/commercial-freezer-repair-london.html" />
          <add key="freezers-london.html" value="/commercial-freezer-repair-london.html" />
          <add key="fridge-freezers-london" value="/commercial-fridge-repair-london.html" />
          <add key="fridge-freezers-london.html" value="/commercial-fridge-repair-london.html" />
          <add key="dishwashers-london" value="/commercial-dishwasher-repair-london.html" />
          <add key="dishwashers-london.html" value="/commercial-dishwasher-repair-london.html" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Pass through PHP" stopProcessing="true">
          <match url="\.php$" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="Redirect index.asp to home" stopProcessing="true">
          <match url="^index\.asp$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect ASP to HTML when HTML exists" stopProcessing="true">
          <match url="^(.+)\.asp$" ignoreCase="true" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="/{R:1}.html" redirectType="Permanent" />
        </rule>
        <rule name="GSC junk URL 301s" stopProcessing="true">
          <match url="^(.+?)/?$" ignoreCase="true" />
          <conditions>
            <add input="{GscJunkRedirects:{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="https://www.colddirect.co.uk{C:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="Fix fridge-freezer-repairs-london 404" stopProcessing="true">
          <match url="^fridge-freezer-repairs-london(\.html)?/?$" />
          <action type="Redirect" url="https://www.colddirect.co.uk/" redirectType="Permanent" />
        </rule>
        <rule name="Keep Google verification HTML" stopProcessing="true">
          <match url="^google[0-9a-z]+\.html$" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="Redirect root index.html to /" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <conditions>
            <add input="{THE_REQUEST}" pattern="^[A-Z]+\s/index\.html" />
          </conditions>
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect nested index.html to folder" stopProcessing="true">
          <match url="^(.+)/index\.html$" ignoreCase="true" />
          <conditions>
            <add input="{THE_REQUEST}" pattern="^[A-Z]+\s/.+/index\.html" />
          </conditions>
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>
        <rule name="Extensionless HTML first" stopProcessing="true">
          <match url="^(.+?)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
            <add input="{REQUEST_URI}" pattern="\.(xml|txt|php|js|css|webp|jpg|png|ico|svg)$" negate="true" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/{R:1}.html" />
        </rule>
        <rule name="ASP Extensionless fallback" stopProcessing="true">
          <match url="^(.+?)/?$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}.asp" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/{R:1}.asp" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ASPClassic" />
      <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".asp" />
          <add fileExtension=".asp" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
